

.tblGeneral {
    width: 100%;
    height: 500px;
    
}

.menu {
    width: 20%;
    height: 500px;
    vertical-align: central;
    text-align: center;

    
}

.content {
    width: 80%;
    height: 500px;
    vertical-align: top;
    text-align: center;
}
